/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body, html {
    padding: 0;
    margin: 0;
    background-color: #f6f6f6;
}

h1, h2 {
    position: relative;
    color: #322153;

    &::before {
        position: absolute;
        content: "";
        width: 50px;
        height: 5px;
        background-color: #84BD5A;
        bottom: -10px;
        border-radius: 5px;
    }
}

label {
    display: block;
    width: 100%;
    color: #666666;
    margin-top: 24px;
    margin-bottom: 6px;
}

textarea {
    display: block;
    width: calc(100% - 24px);
    height: 240px;
    padding: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    position: relative;
    flex: 1 1 0;

    &.ng-dirty.ng-invalid {
        border-color: #8B0000;
        outline-color: #8B0000;
        margin-bottom: 6px;
    }
}

input[type='number'] {
    display: block;
    width: 100%;
    height: 38px;
    padding: 0 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0 .25rem .25rem 0;
    position: relative;
    flex: 1 1 0;
    margin-left: -1px;
}

.input {
    &-group {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%;
    }

    &-symbol {
        display: flex;
        align-items: center;
        padding: .375rem .75rem;
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        text-align: center;
        white-space: nowrap;
        background-color: #e9ecef;
        border: 1px solid #ced4da;
        border-radius: .25rem 0 0 .25rem;
    }
}

.card {
    display: flex;
    flex-direction: column;
    padding: 24px;
    background-color: #ffffff;
    width: 100%;
    margin: 24px;

}

.column {
    width: 40%;

    &:first-child {
        margin-right: 32px;
    }
}

osc-root {
    display: flex;
    justify-content: center;
}

osc-home {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1024px;
}

.text-center {
    text-align: center;
}

.xkcd {
    max-width: 450px;
    width: 100%;
    height: auto;
    margin: 24px auto;
}

.error-message {
    color: #8B0000;
    margin-top: 12px;
}

@media (max-width: 768px) {
    .card {
        width: auto;
        margin: 24px 24px 0;

        &:last-child {
            margin-bottom: 24px;
        }
    }

    .column {
        display: flex;
    }

    osc-home {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
