<h1>How much are you saving with the Open Source projects you're using?</h1>
<label>
    Price hour: <input [formControl]="priceHour" type="number" min="0">
</label>

<p>Paste your package.json here:</p>
<textarea [formControl]="jsonTextArea"></textarea>

<h1>You have a total accumulated of {{ starsCount }} Github Stars</h1>
<h2>You saved approximately {{ totalHours }} weekly hours maintaining these repositories</h2>
<h2>The total value of those hours is approximately USD$ {{ totalValue | currency }}</h2>

<p>PS: It's probably more...</p>
